:root {
	--titleFonts: 'Source Sans Pro', sans-serif;
	--bodyFonts: 'Roboto', sans-serif;
	--edgeBlue: #2356B2;
}

h1 { font-family: var(--titleFonts); }
p, ul, ol, li { font-family: var(--bodyFonts); }
.ebody { background-color: #FFF; }

.custombg, .custombg2, .custombg3 { position: relative; color: #FFF; }
.custombg:before, .custombg2:before { position: absolute; content: ""; top: 0; left: 0; width: 100%; z-index: -1; background-repeat: no-repeat; background-size: cover; }
.custombg:before { height: 1000px; background-image: url('../images/lp1-banner-bg.jpeg'); background-position: center right; }
.custombg2:before { height: 1429px; background-image: url('../images/lp2-banner-bg.jpeg'); background-position: 60% center; }

.custombg3:before { position: absolute; content: ""; top: 0; left: calc(50% - 720px); width: 1440px; height: 916px; background-image: url('../images/lp3-banner-bg.jpeg'); background-position: center bottom; z-index: -1; }

.topNav, .topContentsp, .topContentfr, .sllmContainer, .siteinfo, .ftrContent { width: 100%; max-width: 1200px; margin: auto; }
.topNav { padding-top: 30px; }
.topNav, .ftrContent { display: flex; justify-content: space-between; align-items: center; }
.topNavLogo { display: contents; }
.logoNav { max-width: 235px; }
.topNav ul, footer ul { list-style-type: none; }
	.topNav ul li:last-child, footer ul li:last-child { margin-left: 30px; }
	.topNav ul li, footer ul li { display: inline-block; }
	.topNav svg { fill:#FFF; }

.logoNavMobile { display: none; }

.esNavContainer .topNav { padding-top: 12px; display: grid !important; grid-template-columns: 1fr 2fr 1fr; max-width: 1440px; padding-bottom: 10px; }
.esNavContainer .topNavLogo { grid-column: 2 / 3; display: flex; justify-content:center; align-items: center; }
.esNavContainer .socialIcons { grid-column: 3 / 4; text-align: right; }
	.esNavContainer .socialIcons svg { fill:var(--edgeBlue); transition: all 0.3s ease; }
		.esNavContainer .socialIcons li a:hover svg { fill: rgba(0,0,0,0.2); }

.topContentsp h1,
.topContentfr h1 { font-size:clamp(3rem, 15vw, 120px); letter-spacing: -3px; line-height: 1; margin-bottom: 0; text-shadow: 0 2px 50px rgba(0,0,0,0.25); }
.topContentsp h1 { margin-top: 190px; max-width: 75%; }
.topContentfr h1 { margin-top: 155px; max-width: 65%; }

.topContentes { max-width: 1200px; margin: auto; }
.topContentes h1 { margin: 0 0 0 28% !important; font-size: clamp(1rem, 20vw, 72px); width: 72%; padding-top: 80px; }

.topContentsp h2,
.topContentfr h2 { font-family: var(--bodyFonts); font-weight: 400; font-size: 48px; margin-bottom: 200px; text-shadow: 0 2px 50px rgba(0,0,0,0.4); }

.topContentsp h2 { margin-bottom: 200px; }
.topContentfr h2 { margin-bottom: 125px; margin-top: 20px; }

.topContentes h2 { font-family: var(--bodyFonts); font-weight: 700; font-size: 32px; line-height: 40px; padding-bottom: 480px; margin: 0 0 0 51%; }
.bacResp { display: none; }

.siteinfo { display: grid; grid-template-columns: 1fr 1fr; -webkit-box-shadow: 0 20px 40px 0 rgba(0,30,96,0.2); box-shadow: 0 20px 40px 0 rgba(0,30,96,0.2); border-radius: 0.65em; }
.siteinfo.esSiteInfo { grid-template-columns: 36.7% auto; }
	.sicontent { background-color: var(--edgeBlue); color: #FFF; padding: 90px 82px 30px 72px; border-radius: 0.65em 0 0 0.65em; }
	.siteinfo.esSiteInfo .sicontent { padding: 40px 70px 30px 58px; }
	.sicontent p { font-size: 24px; line-height: 42px; }
	.sicontent h3 { font-family: var(--bodyFonts); font-weight: 700; font-size: 32px; line-height: 42px; }
	
	.esSiteContentList { margin: 0 0 0 20px; padding: 0;  }
		.esSiteContentList li { font-size: 24px; line-height: 34px; padding-top: 8px; }
	
	.sibook { background-color: #FFF; padding: 80px 72px 30px 82px; border-radius: 0 0.65em 0.65em 0; }
		.sibook h2 { color: #333; font-family: var(--titleFonts); font-size: 48px; line-height: 68px; margin-top: 20px; }
		
		.siteinfo.esSiteInfo .sibook {  }
		
	.sllmWrapper { background-color: #FEFFFF; }
.sllmContainer { background-color: #00965C; border-radius: 0.65em; margin-top: 100px; display: block; text-decoration: none; transition: all 0.3s ease; }

.sllmContainer.sllmContainerfr { background-image: url('../images/lp2ctabg.jpeg'); background-blend-mode: soft-light;}

	.sllmContainer:hover { background-color: var(--edgeBlue); }
	.sllmInner { display:grid; align-items: center; padding: 1.4em; grid-template-columns: auto 1fr auto; }
.sllmIcon { background-color: #FFF; border-radius: 0.65em; padding: 0.75em; aspect-ratio: 1; display: flex; align-items: center; align-content: center; }
	.sllmIcon img { width: 100%; }
	.sllmContainer h1 { color: #FFF; font-family: var(--bodyFonts); font-weight: 300; font-size: 40px; line-height: 48px; margin:0 0 0 55px; max-width: 50%; }
	.sllmContainer.sllmContainerfr h1 { max-width: 75%; }
		.sllmContainer p { color: #FFF; font-size:32px; }

footer { background-color: #FEFFFF; margin: 50px auto 20px; }
.footerLogoCont { display: contents; }
.footerLogo { max-width: 260px; }
.ftrContent ul li a svg { fill:var(--edgeBlue); transition: all 0.3s ease; }
	.ftrContent ul li a:hover svg { fill:rgba(0,0,0,0.2); }
.ftrContent p { font-size: 0.8em; text-align: center; color: #555; }
	.ftrContent p a { color: var(--edgeBlue); transition: all 0.3s ease; }
		.ftrContent p a:hover { color: rgba(0,0,0,0.2); }
	
@media screen and (max-width:1260px) {
	.container,
	.sllmWrapper,
	.ftrcontainer { padding-left: 30px; padding-right:30px; }
  }
  
@media screen and (max-width:840px) {
	.container,
	.sllmWrapper,
	.ftrcontainer { padding-left: 24px; padding-right:24px; }
	
	.topContentsp h1, .topContentfr h1 { letter-spacing: -1px; }
	.topContentsp h1 { margin-top: 65px; max-width: 95%; }
	.topContentsp h2, .topContentfr h2 { font-size: 26px; width: 60%; }
	.topContentsp h2 { margin-bottom: 20px; }
	
	.bacResp { display: block; font-family: var(--bodyFonts); font-weight: 700; margin-bottom: 45px; }
		.bacResp a { color: #FFF; text-decoration: none; }
	
	.siteinfo { grid-template-columns: auto; }
	.siteinfo.esSiteInfo { grid-template-columns: auto; }
	.sicontent, .siteinfo.esSiteInfo .sicontent { border-radius: 0.65em 0.65em 0 0; padding: 25px 26px 22px; }
	.sibook { padding: 30px 32px; border-radius: 0 0 0.65em 0.65em; }
	
	.sibook h2 { font-family: var(--bodyFonts); font-size: 32px; line-height: 40px; margin: 40px 26px; }
	
	.sllmInner { grid-template-columns: auto; padding: 1.85em; }
	.sllmIcon { width: 160px; }
	.sllmContainer h1 { max-width: 100%; margin: 1em 0 0 0; }
	
}
@media screen and (max-width:560px) {
	.logoNavMobile { display: block; }
	.logoNav, .footerLogo { display: none; }
	.topNav { padding-top: 10px; }
	
	.esNavContainer .topNav { display: flex !important; max-width: calc(100% - 52px); }
	
	
	.custombg:before, .custombg2:before { height: 600px; }
	
	.custombg:before { background-image: url('../images/lp1-banner-bg-mobile.png'); background-position: center right; }
	.custombg2:before { background-image: url('../images/lp2-banner-bg-mobile.png'); background-position: bottom right; }
	.custombg3:before { background-image: url('../images/lp3-banner-bg-mobile.png'); left: 0; width: 100%; height: 584px; }
	.topContentes h1 {
		margin: 0 !important;
		width: 86%;
		font-size: 48px !important;
		padding-top: 30px;
		line-height: 50px;
	}
	.topContentes h2 {
		margin: 24px 0 0 !important;
		font-size: 24px;
		line-height: 32px;
		font-weight: 400;
		width: 60%;
		padding-bottom: 20px;
	}
	
	.topContentes .bacResp { margin-bottom: 120px; }
	
	.topContentsp h2  { font-size: 26px; width: 60%; }
	 .topContentfr h2 { font-size: 26px; width: 78%; margin-bottom: 30px; }
	
	.topContentfr h1 {
		margin-top: 125px;
		max-width: 100%;
	}
	
	.sicontent p { font-size: 16px; line-height: 26px;}
	.sicontent h3 { font-size: 24px; line-height:32px; }
	.sibook { padding: 0 0 10px 0; }
	.sllmIcon { width: 100px; }
	.sllmContainer h1 { font-size: 24px; line-height: 28px; max-width: 100%; }
	.sllmContainer.sllmContainerfr h1 { max-width: 100%; }
	.sllmContainer p { font-size: 16px; margin-bottom: 0; padding-bottom: 0; }
	.ftrContent { display: grid; grid-template-columns: auto auto; grid-template-rows:auto auto; }
		.footerLogoCont { grid-column: 1 / 2; grid-row: 1 / 2; }
		.ftrContent ul { grid-column: 2 / 3; grid-row: 1 / 2; text-align: right; }	
		.ftrContent p { grid-column: 1 / 3; grid-row: 2 / 3; }
}